<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <table class="table table-bordered table-hover horizontal-align">

            <tr>
                <th th:text="${workBook.firstName}" style="width: 20%"></th>
                <th th:text="${workBook.lastName}" style="width: 20%"></th>
                <th th:text="${#dates.format(workBook.dateOfBirth, 'yyyy-MM-dd')}" style="width: 20%"></th>
                <th th:text="${workBook.age}" style="width: 20%"></th>
                <th th:text="${workBook.passportNumber}" style="width: 20%"></th>
            </tr>

        </table>
        <form class="form-horizontal" th:action="@{/workplace/add/}" name="input_form" id="input_form"
              method="post" role="form">

            <div class="form-group">
                <input type="hidden" class="form-control" id="id" th:name="id"  maxlength="100" th:value="*{id}"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="company" th:name="company" placeholder="Enter company." maxlength="100" th:required="required"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="country" th:name="country" placeholder="Enter country." maxlength="100" th:required="required"/>
            </div>
            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" id="current" th:name="current" placeholder="Enter age." maxlength="100"/>-->
            <!--</div>-->

            <div class="form-group">
                <input type="date" class="form-control" id="startDate" th:name="startDate" placeholder="Enter date Of Birth." maxlength="100"/>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" id="endDate" th:name="endDate" placeholder="Enter date Of Birth." maxlength="100"/>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="current" th:name="current" />
                <label class="form-check-label" for="done">
                    Current?
                </label>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>