<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <form class="form-horizontal" th:object="${workBook}" th:action="@{/update}" name="edit_form" id="edit_form"
              method="post" role="form">
            <div class="form-group">
                <input type="hidden" id="id" th:name="id" th:value="*{id}"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="firstName" th:name="firstName" th:value="*{firstName}" maxlength="100"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="lastName" th:name="lastName" th:value="*{lastName}" maxlength="100"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="age" th:name="age" th:value="*{age}" maxlength="100"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="passportNumber" th:name="passportNumber" th:value="*{passportNumber}" maxlength="100"/>
            </div>
            <div class="form-group">
                <input type="date" th:value="*{#dates.format(dateOfBirth, 'yyyy-MM-dd')}" class="form-control" id="dateOfBirth" th:name="dateOfBirth"  maxlength="100"/>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>